<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="metrics" level="TRACE" />
    <logger name="com.furnaghan" level="DEBUG" />
    <logger name="com.furnaghan.home.policy.server.PolicyServer" level="TRACE" />
</configuration>
